# Align with lintconf.yaml (yamllint) used by chart-testing (ct lint).
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yaml,yml,tpl}]
indent_style = space

[*.md]
trim_trailing_whitespace = false
