apiVersion: v2
name: helper-status-checker
description: A helper Chart that creates a job to verify if the deployments of an operator are running. To do so it creates a service account with a role to read the status of the Deployments.
version: 4.0.13
home: https://github.com/tjungbauer/helm-charts/tree/main/charts/helper-status-checker
icon: https://github.com/tjungbauer/helm-charts/raw/gh-pages/images/helping.png
maintainers:
  - name: tjungbauer
    email: tjungbau@redhat.com
    url: https://blog.stderr.at/
dependencies:
  - name: tpl
    version: ~1.0.0
    repository: https://charts.stderr.at/
sources:
  - https://github.com/tjungbauer/helm-charts
  - https://charts.stderr.at/
  - https://github.com/tjungbauer/openshift-clusterconfig-gitops
keywords:
  - helper
  - subchart
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/signKey: |
    fingerprint: B677CB52F8358FA091044E375D24D6846DBA8F8A
    url: https://keys.openpgp.org/vks/v1/by-fingerprint/B677CB52F8358FA091044E375D24D6846DBA8F8A
  artifacthub.io/changes: |
    - kind: fixed
      description: Signing Chart
    - kind: added
      description: "Version 4.0.0: It is now possible to use a range of status checks to verify multiple operators."
    - kind: added
      description: added new option subscriptionName in case the subscription name is different to the operator name
    - kind: fixed
      description: Wrong clusterrole for the installplan approver.
    - kind: added
      description: improved output for the installplan approver
    - kind: added
      description: added dependency tp tpl library
    - kind: added
      description: using tpl.sleeptimer now to prevent code repetition
