apiVersion: v2
name: openshift-gitops
description: Installs and patches the Red Hat Openshift Gitops Operator
version: 1.0.18
icon: https://cncf-branding.netlify.app/img/projects/argo/stacked/color/argo-stacked-color.png
home: https://github.com/tjungbauer/helm-charts/tree/main/charts/openshift-gitops
maintainers:
  - name: tjungbauer
    email: tjungbau@redhat.com
sources:
  - https://github.com/tjungbauer/helm-charts
keywords:
  - gitops
  - management
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/signKey: |
    fingerprint: B677CB52F8358FA091044E375D24D6846DBA8F8A
    url: https://keys.openpgp.org/vks/v1/by-fingerprint/B677CB52F8358FA091044E375D24D6846DBA8F8A
  artifacthub.io/changes: |
    - kind: fixed
      description: Signing Chart
