apiVersion: v2
name: rh-build-keycloak
description: Configure the operator Red Hat Build of Keycloak
version: 1.0.1
home: https://github.com/tjungbauer/helm-charts/tree/main/charts/rh-build-keycloak
icon: https://github.com/tjungbauer/helm-charts/raw/gh-pages/images/redhat-icon.png
maintainers:
  - name: tjungbauer
    email: tjungbau@redhat.com
    url: https://blog.stderr.at/
dependencies:
  - name: tpl
    version: ~1.0.0
    repository: https://charts.stderr.at/
sources:
  - https://github.com/tjungbauer/helm-charts
  - https://charts.stderr.at/
  - https://github.com/tjungbauer/openshift-clusterconfig-gitops
keywords:
  - sso
  - keycloak
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/signKey: |
    fingerprint: B677CB52F8358FA091044E375D24D6846DBA8F8A
    url: https://keys.openpgp.org/vks/v1/by-fingerprint/B677CB52F8358FA091044E375D24D6846DBA8F8A
  artifacthub.io/changes: |
    - kind: added
      description: initial release
    - kind: added
      description: added a small example config to the readme
