apiVersion: v2
name: helper-argocd
description: Takes care of creation of Applications and ApplicationSets
version: 2.0.6
icon: https://github.com/tjungbauer/helm-charts/raw/gh-pages/images/argo-icon-color.png
home: https://github.com/tjungbauer/helm-charts/tree/main/charts/helper-argocd
maintainers:
  - name: tjungbauer
    email: tjungbau@redhat.com
sources:
  - https://github.com/tjungbauer/helm-charts
keywords:
  - helper
  - subchart
  - gitops
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/signKey: |
    fingerprint: B677CB52F8358FA091044E375D24D6846DBA8F8A
    url: https://keys.openpgp.org/vks/v1/by-fingerprint/B677CB52F8358FA091044E375D24D6846DBA8F8A
  artifacthub.io/changes: |
    - kind: new-release
      description: Release 2.0 allows the usage of multiple sources and a releasemanagement for charts. (ie. dev install version X, prod installs version Y)
    - kind: fixed
      description: Signing Chart
