{{- if eq (.Values.collector.enabled | toString) "true" }}
{{- if .Values.collector.serviceAccount }}
{{- if eq (.Values.collector.serviceAccount.create | toString) "true" }}
{{- with .Values.collector }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .serviceAccount.name }}
  namespace: {{ $.Values.namespace.name }}
  annotations:
    {{- include "tpl.additionalAnnotations" .additionalAnnotations | nindent 4 }}
  labels:
    app.kubernetes.io/component: serviceaccount	
    app.kubernetes.io/instance: {{ .name }}	
    app.kubernetes.io/managed-by: tempo-operator	
    app.kubernetes.io/name: tempo
    {{- include "tpl.additionalLabels" .additionalLabels | nindent 4 }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
