{{- range $key, $value := .Values.applicationsets }}
{{ if eq ($value.enabled | toString) "true" }}
---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ $key | replace "_" "-" }}
  namespace: openshift-gitops
  annotations:
    argocd.argoproj.io/sync-wave: "5"
  labels:
    {{- include "argo.labels" $ | nindent 4 }}
    {{- if $value.labels }}
    {{- range $key_labels, $value_labels := $value.labels }}
    {{ $key_labels }}: {{ $value_labels }}
    {{- end }}
    {{- end }}
spec:
  {{- if .preserveResourcesOnDeletion }}
  syncPolicy:
    preserveResourcesOnDeletion: {{ .preserveResourcesOnDeletion }}
  {{- end }}
  generators:
    {{- if .generatorlist }}
      - list:
          elements: 
          {{- range .generatorlist }}
            - cluster: {{ .clustername }}
              url: {{ .clusterurl }}
          {{- end }}
    {{- else }}
  # This does not work, since openshift-gitops keeps removing the label of the local ArgoCD secret
    {{- if .generatorclusters }}
      {{- range .clusters }}
        - clusters:
            selector:
              matchLabels:
                env: {{ .env }}
      {{- end }}
    {{- else }}
      - clusters: {}
    {{- end }}
  {{- end }}
  template:
    metadata:
      {{- if .generatorlist }}
        {{- if eq (.omitClustername | toString) "true" }}
          name: >-
            {{ printf "%s" $key | replace "_" "-" }}
        {{- else }}
          name: >-
            {{ printf "{{ cluster }}-%s" $key | replace "_" "-" }}
        {{- end }}
      {{- else }}
        {{- if eq (.omitClustername | toString) "true" }}
          name: >-
            {{ printf "%s" $key | replace "_" "-" }}
        {{- else }}
          name: >-
            {{ printf "{{ name }}-%s" $key | replace "_" "-" }} 
        {{- end }}
      {{- end }}
    spec:
      {{- if .generatorlist }}
      project: >-
        {{ printf "{{ cluster }}" }}
      {{- else }}
      project:  >-
          {{ printf "{{ name }}" }}
      {{- end }}
      {{- if .multiple_sources }}
      sources:
        {{- range $source_key, $source_value := .multiple_sources }}
        - {{- if .repoUrl }}
          repoURL: {{ .repoUrl }}
          {{- end }}
          {{- if .path }}
          path: {{ .path }}
          {{- end }}
          {{- if .targetRevision }}
          targetRevision: {{ .targetRevision }}
          {{- else }}
          targetRevision: {{ .helm.default_revision | default "1.0.0" }}
          {{- end }}
          {{- if .ref }}
          ref: {{ .ref | default "values" }}
          {{- end }}
          {{- if .chart }}
          chart: {{ .chart }}
          {{- end }}
          {{- if .helm }}
          helm:
            valueFiles:
              - {{ .helm.default_values_file }}
            {{- range .helm.additional_values_files }}
              - {{ . }}
            {{- end }}
            {{- if $value.helm.per_cluster_helm_values }}
              - '{{ printf "{{ name }}-values.yaml" }}'
            {{- end }}          
            {{- if .helm.helmvalues }}
            parameters:
            {{- range .helm.helmvalues }}
            - name: {{ .name }}
              value: '{{ .value }}' 
            {{- end }}
            {{- end }}
            {{- if .helm.releaseName }}
            releaseName: {{ .helm.releaseName }}
            {{- end }}
          {{- end }}
        {{- end }}
      {{- else }}
      source:
        repoURL: {{ .repourl | default $.Values.general.source.repourl }}
        targetRevision: {{ .targetrevision | default $.Values.general.branch }}
        {{- if .helm }}
        helm:
          {{- if .helm.per_cluster_helm_values }}
          valueFiles: 
            - '{{ printf "{{ name }}-values.yaml" }}'
          {{- end }}
          {{- if .helm.releasename }}
          releaseName: {{ .helm.releasename }}
          {{- end }}
          {{- if .helm.helmvalues }}
          parameters:
          {{- range .helm.helmvalues }}
          - name: {{ .name }}
            value: '{{ .value }}' 
          {{- end }}
          {{- end }}
        {{- end }}
        {{- if .path }}
        path: {{.path }}
        {{- else }}
        chart: {{ .chartname }}
        {{- end }}
      {{- end }}

      {{- if .syncPolicy }}
      syncPolicy:
        {{- if .syncPolicy.autosync_enabled }}
        automated:
          prune: {{ .syncPolicy.syncpolicy_prune | default "false"  }}
          selfHeal: {{ .syncPolicy.syncpolicy_selfheal | default "false"  }}
        {{- end }}
        {{- if .syncPolicy.syncOptions }}
        syncOptions:
          {{- range .syncPolicy.syncOptions }}
          - {{ .name }}={{ .value }}
          {{- end }}
        {{- end }}
      {{- end }}
      destination:
      {{- if .generatorlist }}
        server:  >-
          {{ printf "{{ url }}" }}
        {{- else }}
        server:  >-
          {{ printf "{{ server }}" }}
        {{- end }}
        namespace: {{ .namespace | default "default" }}
      info:
        - name: Description
          value: {{ .description | default "No Description" }}
{{- end }}
{{- end }}