---
# -- Enable Job to create a Secret for LokiStack.
# @default -- false
enabled: false

# -- Syncwave for Argo CD.
# @default -- 3
syncwave: 3

# -- Namespace where LokiStack is deployed and where the Secret shall be created.
namespace: namespace-with-lokistack-and-bucket

# -- Name of Secret that shall be created.
secretname: secretname-to-create

# Bucket Configuration
bucket:
  # -- Name of the Bucket shall has been created.
  name: bucket-name

# -- Keys that shall be used to create the Secret.
keys:
  # -- Overwrite access_key_id key.
  # @default -- access_key_id
  access_key_id: access_key_id
  # -- Overwrite access_key_secret key.
  # @default -- access_key_secret
  access_key_secret: access_key_secret
  # -- Overwrite bucket key.
  # @default -- bucket
  bucket: bucket
  # -- Overwrite endpoint key.
  # @default -- endpoint
  endpoint: endpoint
  # -- Overwrite region key. Region is only set if set_region is true.
  # @default -- region
  region: region

# -- Set region key.
# @default -- false
set_region: false
