apiVersion: v2
name: generic-cluster-config
description: This Chart is responsible for deploying generic cluster configuration, for example, etcd encryption, OAuth etc.
version: 1.0.37
home: https://github.com/tjungbauer/helm-charts/tree/main/charts/generic-cluster-config
icon: https://github.com/tjungbauer/helm-charts/raw/gh-pages/images/settings-icon.png
maintainers:
  - name: tjungbauer
    email: tjungbau@redhat.com
    url: https://blog.stderr.at/
dependencies:
  - name: tpl
    version: ~1.0.17
    repository: https://charts.stderr.at/
sources:
  - https://github.com/tjungbauer/helm-charts
  - https://charts.stderr.at/
  - https://github.com/tjungbauer/openshift-clusterconfig-gitops
keywords:
  - generic
  - clusterconfig
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/signKey: |
    fingerprint: B677CB52F8358FA091044E375D24D6846DBA8F8A
    url: https://keys.openpgp.org/vks/v1/by-fingerprint/B677CB52F8358FA091044E375D24D6846DBA8F8A
  artifacthub.io/changes: |
    - kind: added
      description: Possibility to configure allowed registries
    - kind: added
      description: added new type of etcd encryption, monitoring stack configuration etc.
    - kind: added
      description: README and adding possibility to configure userworkload monitoring and complete check and fixing issues
    - kind: added
      description: added dependency tp tpl library and allowing the configuration of a custom certificate and the audit profile for the APIServer.
    - kind: added
      description: using some templates
    - kind: added
      description: switching some snippets to use global tpl
    - kind: added
      description: Allowing configuration of Samples operator
    - kind: added
      description: Starting cleaning up monitoring configuration, so Argo CD can see if actual changes are done (fields in ConfigMap are stored in specific order)
