{{ template "doc.header" . }}

This Helm Chart configured *AdminNetworkPolicy* and *BaselineAdminNetworkPolicy* objects. See examples in the values.yaml file and at 
https://blog.stderr.at/openshift/2024/11/introducting-adminnetworkpolicies/ for detail information.


{{ template "doc.deps" . }}

{{ template "doc.maintainer_and_sources" . }}

{{ template "doc.values" . }}


{{ template "doc.footer" . }}
