{{- with .Values.rbac }}
{{- if eq (.enabled | toString) "true" }}
{{- if .declarative_configurations }}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: declarative-configurations
  namespace: {{ $.Values.rhacs.namespace.name | quote }}
  labels:
    {{- include "tpl.labels" $ | nindent 4 }}
data:
  {{- range $filename, $content := .declarative_configurations }}
  {{ $filename }}: |
    {{- $content | toYaml | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
