apiVersion: v2
name: rhacs-setup
description: Master chart to deploy RHACS operator, initialize it and do some configuration using API Calls
version: 1.0.32
home: https://github.com/tjungbauer/helm-charts/tree/main/charts/rhacs-setup
icon: https://github.com/tjungbauer/helm-charts/raw/gh-pages/images/acs.png
dependencies:
  - name: tpl
    version: ~1.0.0
    repository: https://charts.stderr.at/
maintainers:
  - name: tjungbauer
    email: tjungbau@redhat.com
    url: https://blog.stderr.at/
sources:
  - https://github.com/tjungbauer/helm-charts
  - https://charts.stderr.at/
  - https://github.com/tjungbauer/openshift-clusterconfig-gitops
keywords:
  - acs
  - security
annotations:
  artifacthub.io/category: security
  artifacthub.io/license: Apache-2.0
  artifacthub.io/signKey: |
    fingerprint: B677CB52F8358FA091044E375D24D6846DBA8F8A
    url: https://keys.openpgp.org/vks/v1/by-fingerprint/B677CB52F8358FA091044E375D24D6846DBA8F8A
  artifacthub.io/changes: |
    - kind: fixed
      description: Signing Chart
    - kind: added
      description: added Readme
    - kind: added
      description: updated to helper-status-checker v4
    - kind: fixed
      description: documented missing centralEndpoint setting
    - kind: added
      description: using common tpl chart for reusablility
    - kind: added
      description: added option to define nodeSelector for all components
    - kind: added
      description: alow to configure Scanner for SecuredCluster
    - kind: added
      description: allowing definition of declerativeConfiguration configMaps
