{{- with .Values.quay_configuration }}
{{- if eq ( .enabled | toString) "true" }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: create-config-secret-sa
  namespace: quay-enterprise
  annotations:
    argocd.argoproj.io/hook: Sync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
    argocd.argoproj.io/sync-wave: {{ .syncwave | default 3 | quote }}
  labels:
    {{- include "tpl.labels" $ | nindent 4 }}
{{- end }}
{{- end }}

