{{- range $key, $value := .Values.gitopsinstances }}
{{- if eq ($value.enabled | toString) "true" }}
{{- if eq ($value.global_project.enabled | toString) "true" }}
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  name: global
  namespace: {{ $value.namespace | quote }}
  labels:
    openshift.io/cluster-monitoring: "true"
    {{- include "tpl.labels" $ | nindent 4 }}
spec:
  description: {{ $value.global_project.description | quote }}
  {{- if $value.global_project.clusterResourceBlacklist }}
  clusterResourceBlacklist:
  {{- range $keyClusterResourceBlacklist, $valueClusterResourceBlacklist := $value.global_project.clusterResourceBlacklist }}
  - kind: {{ $valueClusterResourceBlacklist.kind | quote }}
    group: {{ $valueClusterResourceBlacklist.group | quote }}
  {{- end }}
  {{- end }}
  {{- if $value.global_project.namespaceResourceBlacklist }}
  namespaceResourceBlacklist:
  {{- range $keyNamespaceResourceBlacklist, $valueNamespaceResourceBlacklist := $value.global_project.namespaceResourceBlacklist }}
  - kind: {{ $valueNamespaceResourceBlacklist.kind | quote }}
    group: {{ $valueNamespaceResourceBlacklist.group | quote }}
  {{- end }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}