apiVersion: v2
name: collection-management-operators
description: Collection of management Operators which are usually installed on the management cluster only. I.e. Quay, ACM, Cert-Manager...
version: 1.0.21
home: https://github.com/tjungbauer/helm-charts/tree/main/charts/collection-management-operators
icon: https://github.com/tjungbauer/helm-charts/raw/gh-pages/images/operatorframework-icon-color.png
dependencies:
  - name: helper-operator
    version: "1.0.14"
    repository: https://charts.stderr.at/
maintainers:
  - name: tjungbauer
    email: tjungbau@redhat.com
sources:
  - https://github.com/tjungbauer/helm-charts
keywords:
  - operator
  - deployment
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/signKey: |
    fingerprint: B677CB52F8358FA091044E375D24D6846DBA8F8A
    url: https://keys.openpgp.org/vks/v1/by-fingerprint/B677CB52F8358FA091044E375D24D6846DBA8F8A
  artifacthub.io/changes: |
    - kind: fixed
      description: Signing Chart
