apiVersion: v2
name: helm-policy-generator
description: This Chart shall help to generate policies for Advanced Cluster Management
version: 1.0.9
icon: https://github.com/tjungbauer/helm-charts/raw/gh-pages/images/helping.png
home: https://github.com/tjungbauer/helm-charts/tree/main/charts/helm-policy-generator
maintainers:
  - name: tjungbauer
    email: tjungbau@redhat.com
    url: https://blog.stderr.at/
sources:
  - https://github.com/tjungbauer/helm-charts
  - https://charts.stderr.at/
  - https://github.com/tjungbauer/openshift-clusterconfig-gitops
keywords:
  - helper
  - acm
  - policy
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/signKey: |
    fingerprint: B677CB52F8358FA091044E375D24D6846DBA8F8A
    url: https://keys.openpgp.org/vks/v1/by-fingerprint/B677CB52F8358FA091044E375D24D6846DBA8F8A
  artifacthub.io/changes: |
    - kind: added
      description: Initial Release
    - kind: added
      description: descriptions in example values-files and some minor changes for optional parameters
    - kind: added
      description: added basic README and final features for ConfigurationPolicies (like dependencies etc.) and an example-folder
    - kind: fixed
      description: put Namespaceselector for policies into the right place
    - kind: added
      description: added additional example, Placement and PlacementBinding are correctly created when using PolicySets
    - kind: added
      description: added example for cluster health checks
    - kind: added
      description: added inline comments to policy.yaml template for better readability, new example to check cluster-operators-healthcheck, supporting CertificationPolicy kind
    - kind: added
      description: added README
