apiVersion: v2
name: cert-manager
description: Install and configure the Cert-Manager
version: 1.0.3
home: https://github.com/tjungbauer/helm-charts/tree/main/charts/cert-manager
icon: https://github.com/tjungbauer/helm-charts/raw/gh-pages/images/cert-manager-icon.png
maintainers:
  - name: tjungbauer
    email: tjungbau@redhat.com
    url: https://blog.stderr.at/
dependencies:
  - name: tpl
    version: ~1.0.0
    repository: https://charts.stderr.at/
sources:
  - https://github.com/tjungbauer/helm-charts
  - https://charts.stderr.at/
  - https://github.com/tjungbauer/openshift-clusterconfig-gitops
keywords:
  - generic
  - clusterconfig
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/signKey: |
    fingerprint: B677CB52F8358FA091044E375D24D6846DBA8F8A
    url: https://keys.openpgp.org/vks/v1/by-fingerprint/B677CB52F8358FA091044E375D24D6846DBA8F8A
  artifacthub.io/changes: |
    - kind: added
      description: initial release
    - kind: added
      description: added dependency tp tpl library
    - kind: added
      description: added Certificate resource so this chart can be used to order any certificate
