{{- if eq (.Values.enabled | toString) "true" }}
---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ .Values.serviceAccount | default "etcd-backup" }}
  namespace: {{ .Values.namespace.name | default "etcd-backup" }}
  labels:
    {{- include "tpl.labels" $ | nindent 4 }}
{{- end }}
