{{- if eq (.Values.tempostack.enabled | toString) "true" }}
{{- if .Values.tempostack.serviceAccount }}
{{- with .Values.tempostack }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .serviceAccount }}
  namespace: {{ .namespace.name }}
  annotations:
    {{- include "tpl.additionalAnnotations" .additionalAnnotations | nindent 4 }}
  labels:
    app.kubernetes.io/component: serviceaccount	
    app.kubernetes.io/instance: {{ .name }}	
    app.kubernetes.io/managed-by: tempo-operator	
    app.kubernetes.io/name: tempo
    {{- include "tpl.additionalLabels" .additionalLabels | nindent 4 }}
{{- end }}
{{- end }}
{{- end }}

