name: Build Frontpage

on:
  workflow_dispatch:
  workflow_run:
    workflows: [Release Charts]
    types:
      - completed

# Ensure only one workflow pushing to gh-pages runs at a time
concurrency:
  group: gh-pages-deploy
  cancel-in-progress: false

jobs:
  on-success:
    runs-on: ubuntu-latest
      #  if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        ref: 'gh-pages'
        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
        persist-credentials: true

    - name: Set up Helm
      uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Install Helm Plugin helm-repo-htlm
      run: |
        helm plugin install https://github.com/halkeye/helm-repo-html --verify=false

    - name: Create Frontpage
      run: |
        helm repo-html -t tpl/index.tpl

    - name: Commit files
      run: |
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git commit -m "Add changes" -a

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        ssh: true
        branch: 'gh-pages'
